<h1>Add Your City</h1>
<div id="clouds">
  <div class="cloud x1"></div>
  <!-- Time for multiple clouds to dance around -->
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>
  <%= simple_form_for @city do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add" %>
<% end %>


<hr />

  <% @cities.each do |city| %>
   <p><%= city.name %></p>
  <% end %>
